<div class="body">
  <div class="container">
    <p id="notice">
      <%= notice %>
    </p>
    <!-- ここからユーザー情報 -->
    <div class="row">
      <div class="col-xs-3">
        <h2>User info</h2>
        <!-- user画像の情報を入れる -->
        <tbody>
          <tr>
            <th>name</th>
            <th>
              <!-- 名前のユーザー情報入れる -->
            </th>
          </tr>
          <tr>
            <th>introduction</th>
            <th>
              <!-- ユーザーの編集したものの投稿先 -->
            </th>
          </tr>
        </tbody>
        <div class="row">
            <!-- /users/id/editのリンクを張る↓ -->
            <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_21696" href="/users/21696/edit"></a>
        </div>
        <!-- ここまでユーザー情報 -->

        <h2>New book</h2>
        <!-- ここからが投稿ページ -->
        <%= form_for(@new_book) do |f| %><!-- form_for記入 -->
          <div class="field row">
            <label for="book_title">Title</label>
            <%= f.text_field :title, class:"col-xs-12" %>
          </div>
          <div class="field row">
            <label for="book_opinion">Opinion</label>
            <%= f.text_area :body, class:"col-xs-12" %>
          </div>
          <div class="actions row">
            <%= f.submit 'Create Book', class:"btn btn-primary col-xs-12" %>
          </div>
        <% end %><!-- ここまで投稿ページ -->
      </div>
<!-- 右側ページ -->
      <div class="col-xs-9">
        <h2>Book detail</h2>
        <table class="table table-hover table-inverse">
          <tbody>
            <tr>
              <td>
                <!-- userアイコン&rリンク挿入 -->
                <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon">
              </td>
              <td>
                <%= link_to @book.title, book_path(@book) %><!-- Title -->
              </td>
              <td>
                <%= @book.body %><!-- Opinion -->
              </td>
              <% if @book.user == current_user %>
                <td>
                    <%= link_to "Edit", edit_book_path(@book), class:"btn-sm btn-success edit_book_34534" %>
                </td>
                <td>
                <%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn-sm btn-danger destroy_book_34534" %>
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>